select#modeselect {
    display: inline;
    margin-bottom: 20px;
    padding-left: 25px; 
  }

body {
  background-color: rgb(56, 58, 58);
  color: white;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  justify-content: center;
}

h2 {
  font-size: large;
}

form{
  color: snow;
  font-size: large;
  align-items: center;
  background-color: steelblue;
}






